.section-agregar{
  background-color: var(--gris-claro);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.form-agregar{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-agregar input, textarea, .form-select{
  width: 90%;
}
.form-agregar textarea, .form-select{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.full-width{
  width: 90%;
}
.form-select{
  border: none;
  padding: .90rem;
  color: gray;
}

@media (min-width: 968px){
  .form-agregar{
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
  }
  
}