.banner-container{
  background-image: url(../img/banner-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 13rem;
  color: rgb(255, 255, 255);
  padding-left: 1rem;
  position: relative;
}
.banner-text{
  position: absolute;
  bottom: 0px;
  padding-bottom: .7rem;
}
.banner-container h2{
  padding-bottom: .5rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.banner-container h3{
  padding-bottom: .5rem;
  font-size: 1rem;
}

@media (min-width: 968px){
  .banner-container{
    height: 25rem;
  }
  .banner-text{
    position: absolute;
    bottom: 2rem;
    left: 13rem;
  }
  .banner-container h2{
    font-size: 3rem;
  }
  .banner-container h3{
    font-size: 1.5rem;
  }
}